*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(26, 93, 151);
}

.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.container .paciente{
    width: 30vw;
    border-radius: 10px;
    box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.575);
    margin: 1.15%;
    background-color: rgb(175, 218, 253);
    padding: 10px;
    display: flex;
    align-items: center;
}

.container .paciente img{
    width: 25%;
}

.container .paciente .texto{
    margin: 3%;
    font-family: 'Times New Roman', Times, serif;
}

.container .paciente .texto span{
    display: block;
    font-size: 1.3em;
}

.container .paciente1{
    width: 100%;
    margin: 3% 5.15% 0 5.15%;
}

.container .paciente1 .texto span{
    font-size: 4em;
}